<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div> <a href="https://www.sathish.com" class="navbar-brand">Sathish</a></div>
        <ul class="navbar-nav">
            <li><a routerLink="/railwayDashboard" class="nav-link">Railway Dashboard</a></li>
            <li><a routerLink="/searchTrains" class="nav-link">Search Trains</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/register" class="nav-link">Register</a></li>
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>