<div class="container">
    <div class="alert alert-warning" *ngIf='invalidValue'>{{errorMessage}}</div>
</div>
<div class="container" *ngIf='trainDetails'>
    <table class="table">
        <thead>
            <tr>
                <th>Train Number</th>
                <th>Train Name</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>OriginStation</th>
                <th>DestinationStation</th>
                <th>Current Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{trainDetails.trainNumber}}</td>
                <td>{{trainDetails.trainName}}</td>
                <td>{{trainDetails.arrivalTime | date}}</td>
                <td>{{trainDetails.departureTime | date}}</td>
                <td>{{trainDetails.originStationCd}}</td>
                <td>{{trainDetails.destinationStationCd}}</td>
                <td>{{trains.currentLocation}}</td>
                
            </tr>
        </tbody>

    </table>
</div>
