<div class="container">
    <div class="alert alert-warning" *ngIf='invalidValue'>{{errorMessage}}</div>
</div>
<div class="container" *ngIf='trainDetails'>
    <table class="table">
        <thead>
            <tr>
                <th>Train Number</th>
                <th>Train Name</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>OriginStation</th>
                <th>DestinationStation</th>
                <th>Current Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{trainDetails.trainNumber}}</td>
                <td>{{trainDetails.trainName}}</td>
                <td>{{trainDetails.arrivalTime | date}}</td>
                <td>{{trainDetails.departureTime | date}}</td>
                <td>{{trainDetails.originStationCd}}</td>
                <td>{{trainDetails.destinationStationCd}}</td>
                <td *ngFor="let location of trainDetails.currentLocation">
                    {{location}}
                </td>
                <!-- <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td> -->
            </tr>
        </tbody>

    </table>
</div>
